//  1001 0111
//  1101 0011
//  =========
//  1110 1010


//  0000 0001
//  1110 1111
//  1111 0000


  92
  52
  0
o====o

r
	(vr(vw0)(vw1)!^)
	(2vw1!^)

[>
	r
	(
		vr(vw0)(vw1)
	)
	(
		vr(vw1)(vw0
			&     //stake a flag
			[
				?<($)(-) //if cant move right, exit block, nop otherwise
				<r
					(w1)   
					(w0#) //carry the 1 and return to block beginning
			]
			@     //return to flag
		)
	)
	!^
6]